/*
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	color: rgb(0, 0, 0);
	mix-blend-mode: hard-light;
	text-align: center;
	text-shadow: 2px 2px 2px white;
	transform: translate(-50%, -50%);
}
*/

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	color: white; 
	text-align: center;
	text-shadow: 
		2px 2px 4px rgba(0, 0, 0, 0.8), 
		-2px -2px 4px rgba(255, 255, 255, 0.5); 
	transform: translate(-50%, -50%);
	font-size: clamp(1.5rem, 4vw, 2.5rem); 
}



:root {
	--duration: 30s;
	  /*  overflow: hidden;  */ 
}

#profilfooldal{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#content{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}



#fullscreenbutton {
	position: fixed;
	top: 1vw;
	right: 1vw;
	z-index: 5;
	background: none;
	border: 0;
	outline: none;
	cursor: pointer;
}


.wrapper-images {
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 50%;
	position: absolute;
	margin-top: 40px;
	top: 50%;
	transform: translate3d(-50%, -50%, 0) perspective(800px) rotatex(10deg) rotatey(-10deg);
}

.images-line {
	animation: runner var(--duration) linear infinite;
	display: flex;
	transform: translateX(23%);

	&:nth-child(even) {
		animation-duration: calc(var(--duration) * 1.5);
	}

	.line {
		background-position: 50% 50%;
		background-size: cover;
		flex: none;
		height: 29vh;
		margin: clamp(10px, 2vw, 20px);
		width: 20vh;
		position: relative;
		transition: ease-in-out all 0.3s;
		border-radius: 1rem;

		.img {
			position: relative;
			z-index: 2;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-position: 50% 50%;
			background-size: cover;
			transition: ease-in-out all 0.3s;
			overflow: hidden;
			border-radius: 1rem;
		}

		&:hover {
			.img {
				cursor: pointer;
				transform: scale(1.1) translatez(0px);
			}

			&:after {
				filter: blur(35px) opacity(0.8);
			}
		}

		&:after {
			content: "";
			background: inherit;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			top: 3vh;
			position: absolute;
			background-size: cover;
			z-index: -1;
			transition: ease-in-out all 0.3s;
			filter: blur(25px) opacity(0.8);
		}
	}
}

@keyframes runner {
	to {
		transform: translateX(-10.4%);
	}
}

/*Dev*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

.dev {
	font-family: "Poppins", sans-serif;
	position: fixed;
	font-size: clamp(8px, 3vw, 14px);
	bottom: 1vw;
	left: 1vw;
	padding: 1em;
	color: #111;
	background-color: white;
	border-radius: 25px;
	cursor: pointer;
	z-index: 100;

	a {
		text-decoration: none;
		font-weight: bold;
		color: #111;
		transition: ease all 0.3s;

		&:hover {
			color: #ef5350;
			text-decoration: underline;
		}
	}

	span {
		display: inline-block;
		transition: ease all 0.3s;
		color: #ef5350;

		&:hover {
			transform: scale(1.2);
		}
	}
}